
.navbar {
	position: relative;
	width: 80vw;
	padding: 0rpx 30rpx;
	display: flex;

	.search-operation {
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 40rpx;
	}

	.category {
		flex: 1;
		margin-left: 20rpx;
		padding-top: 4rpx;
	}
}

.page {
	padding-top: calc(160rpx + constant(safe-area-inset-top));
	padding-top: calc(160rpx + env(safe-area-inset-top));
	min-height: 100vh;
	background:
		linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
		/* 从上到下的渐变 */
		linear-gradient(to right, #FCE3E2, #F2E5E9, #DAE2EF, #DBE3F0);
	/* 从左到右的渐变 */
	background-blend-mode: screen;

}

.tn-tabbar-height {
	min-height: 140rpx;
	height: calc(140rpx + env(safe-area-inset-bottom) / 2);
	height: calc(140rpx + constant(safe-area-inset-bottom));
}

.category1 {
	top: 140rpx;
	display: flex;
	position: fixed;
	width: 100%;
	padding: 30rpx 0rpx 20rpx 0;
	border-radius: 12rpx;
	align-items: center;
	margin-top: 30rpx;
	background-color: #ffffff75;
	z-index: 9999;

	.category-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.icon {
			position: relative;
			font-size: 50rpx;

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				width: 20rpx;
				height: 20rpx;
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.title {
			margin-top: 14rpx;
		}
	}
} 
.page1 {
	margin-top: 230rpx;
	padding: 0 30rpx;

}
.bejings{
	background-color: #DAE2EF50;
}
.swipe-item-content {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.avatar {
		flex-shrink: 0;
		flex-grow: 0;
		width: 80rpx;
		height: 80rpx;
		border-radius: 50%;
		background-color: var(--tn-color-gray-light);
	}

	.content {
		flex: 1;
		margin-left: 22rpx;
		line-height: 1;

		.top {
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			.nickname {
				font-size: 30rpx;
			}

			.date {
				font-size: 22rpx;
				color: #ababab;
				// margin-top: 8rpx;
				
			}
		}

		.bottom {
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			.message {
				font-size: 26rpx;
				height: 1em;
				overflow: hidden;
				color: var(--tn-color-gray);
				// margin-top: 10rpx;
				margin-right: 80rpx;
			}
		}
	}
}